.forecast-header {
    display: flex;
    flex-direction: row;
}

.forecast-header .day {
    flex-grow: 1;
    text-align: left;
}

.forecast-header .date {
    margin-right: 8px;
}

.forecast-header .refresh-button {
    background-color: #009ad8;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

/* UI break point */
@media (min-width: 901px) {
    .forecast-header {
        min-height: 49px;
    }
}


/* UI break point */
@media (max-width: 520px) {
    /* body {
        background-color: white;
    } */
}